* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5DD90;
  color: #324376;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

h1 {
  font-size: 12vw;
  color: yellow !important;
  color: antiquewhite;
  color: chartreuse;
}